<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <handlers>
      <add name="httpPlatformAdminUI" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>

    <httpPlatform processPath="C:\path\to\your\python\env\Scripts\waitress-serve.exe" arguments="--host 127.0.0.1 --port %HTTP_PLATFORM_PORT% admin_ui:app" stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\python_adminui_stdout.log" startupTimeLimit="60"
                  processesPerApplication="1"
                  requestTimeout="00:02:00"> <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="C:\inetpub\wwwroot\anti_scraping_defense_iis" /> <environmentVariable name="APP_BASE_DIRECTORY" value="C:\inetpub\wwwroot\anti_scraping_defense_iis" /> <environmentVariable name="APP_SECRETS_DIRECTORY" value="C:\secrets" /> <environmentVariable name="FLASK_ENV" value="production" /> <environmentVariable name="LOG_METRICS_TO_JSON" value="false" /> <environmentVariable name="METRICS_JSON_FILENAME" value="metrics_dump.json" /> <environmentVariable name="METRICS_DUMP_INTERVAL_MIN" value="60" />

        <environmentVariable name="LOG_LEVEL" value="INFO" /> </environmentVariables>
    </httpPlatform>

  </system.webServer>

  </configuration>