<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <handlers>
      <add name="httpPlatformAiService" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>

    <httpPlatform processPath="C:\path\to\your\python\env\Scripts\python.exe" arguments="-m uvicorn ai_service.ai_webhook:app --host 127.0.0.1 --port %HTTP_PLATFORM_PORT% --workers 2" stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\python_aiservice_stdout.log" startupTimeLimit="120"
                  processesPerApplication="1"
                  requestTimeout="00:02:00"> <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="C:\inetpub\wwwroot\anti_scraping_defense_iis" /> <environmentVariable name="APP_BASE_DIRECTORY" value="C:\inetpub\wwwroot\anti_scraping_defense_iis" /> <environmentVariable name="APP_SECRETS_DIRECTORY" value="C:\secrets" /> <environmentVariable name="REDIS_HOST" value="localhost" /> <environmentVariable name="REDIS_PORT" value="6379" />
        <environmentVariable name="REDIS_PASSWORD_FILENAME" value="redis_password.txt" />
        <environmentVariable name="REDIS_DB_BLOCKLIST" value="2" />
        <environmentVariable name="BLOCKLIST_TTL_SECONDS" value="86400" />

        <environmentVariable name="ALERT_METHOD" value="none" /> <environmentVariable name="ALERT_MIN_REASON_SEVERITY" value="Local LLM" /> <environmentVariable name="ALERT_GENERIC_WEBHOOK_URL" value="" /> <environmentVariable name="ALERT_SLACK_WEBHOOK_URL" value="" /> <environmentVariable name="ALERT_SMTP_HOST" value="" /> <environmentVariable name="ALERT_SMTP_PORT" value="587" /> <environmentVariable name="ALERT_SMTP_USE_TLS" value="true" /> <environmentVariable name="ALERT_EMAIL_FROM" value="" /> <environmentVariable name="ALERT_EMAIL_TO" value="" /> <environmentVariable name="ALERT_SMTP_USER" value="" /> <environmentVariable name="ALERT_SMTP_PASSWORD_FILENAME" value="smtp_password.txt" /> <environmentVariable name="ENABLE_COMMUNITY_REPORTING" value="false" /> <environmentVariable name="COMMUNITY_BLOCKLIST_REPORT_URL" value="" /> <environmentVariable name="COMMUNITY_BLOCKLIST_REPORT_TIMEOUT" value="10.0" />
        <environmentVariable name="COMMUNITY_BLOCKLIST_API_KEY_FILENAME" value="community_blocklist_api_key.txt" /> <environmentVariable name="LOG_LEVEL" value="INFO" /> </environmentVariables>
    </httpPlatform>

  </system.webServer>
</configuration>