<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <handlers>
      <add name="httpPlatformTarpit" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>

    <httpPlatform processPath="C:\path\to\your\python\env\Scripts\python.exe" arguments="-m uvicorn tarpit.tarpit_api:app --host 127.0.0.1 --port %HTTP_PLATFORM_PORT%"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\python_tarpit_stdout.log" startupTimeLimit="120" processesPerApplication="1"
                  requestTimeout="00:05:00"> <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="C:\inetpub\wwwroot\anti_scraping_defense_iis" /> <environmentVariable name="APP_BASE_DIRECTORY" value="C:\inetpub\wwwroot\anti_scraping_defense_iis" /> <environmentVariable name="APP_SECRETS_DIRECTORY" value="C:\secrets" /> <environmentVariable name="ESCALATION_ENDPOINT" value="http://localhost:8003/escalate" /> <environmentVariable name="TAR_PIT_MIN_DELAY_SEC" value="0.6" />
        <environmentVariable name="TAR_PIT_MAX_DELAY_SEC" value="1.2" />
        <environmentVariable name="SYSTEM_SEED" value="your_unique_windows_seed_value_change_me_!" /> <environmentVariable name="TAR_PIT_MAX_HOPS" value="250" />
        <environmentVariable name="TAR_PIT_HOP_WINDOW_SECONDS" value="86400" />
        <environmentVariable name="TAR_PIT_FLAG_TTL" value="300" /> <environmentVariable name="REDIS_HOST" value="localhost" /> <environmentVariable name="REDIS_PORT" value="6379" />
        <environmentVariable name="REDIS_PASSWORD_FILENAME" value="redis_password.txt" /> <environmentVariable name="REDIS_DB_TAR_PIT" value="1" /> <environmentVariable name="REDIS_DB_TAR_PIT_HOPS" value="4" /> <environmentVariable name="REDIS_DB_BLOCKLIST" value="2" /> <environmentVariable name="BLOCKLIST_TTL_SECONDS" value="86400" />

        <environmentVariable name="PG_HOST" value="localhost" /> <environmentVariable name="PG_PORT" value="5432" />
        <environmentVariable name="PG_DBNAME" value="markovdb" />
        <environmentVariable name="PG_USER" value="markovuser" />
        <environmentVariable name="PG_PASSWORD_FILENAME" value="pg_password.txt" /> <environmentVariable name="LOG_LEVEL" value="INFO" /> </environmentVariables>
    </httpPlatform>

    </system.webServer>

  </configuration>