<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

        <modules runAllManagedModulesForAllRequests="true">
            <add name="RedisBlocklistCheck_Placeholder" /> </modules>

        <rewrite>
            <rules>
                </rules>
        </rewrite>

        <defaultDocument enabled="true">
             </defaultDocument>

        <httpErrors errorMode="DetailedLocalOnly" existingResponse="Replace">
            <remove statusCode="403" />
            <error statusCode="403" path="/errors/403.html" responseMode="File" />
            <remove statusCode="404" />
            <error statusCode="404" path="/errors/404.html" responseMode="File" />
            </httpErrors>

    </system.webServer>
</configuration>
